/* box-sizing: inherit лучше, потому что позволяет делать модули со старым бокс-сайзингом*/
* {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: inherit;
}
/* Стопроцентная ширина и высота для удобства, border-box рулит*/
html,
body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
body {
  font-family: Helvetica Neue, Helvetica, Arial, serif;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400;
}
/* Простые стили для ссылок, без подчёркивания

:hover — подчёркиваем при наведении
:visited — меняем цвет (юзабилити) →
    <a href="#">ссылка</a>
*/
a {
  color: #2a7ae2;
  text-decoration: none;
}
a:hover {
  color: #000;
  text-decoration: underline;
}
a:visited {
  color: #205caa;
}
