.main-header {
  margin-bottom: 1rem;
  font-size: 1.3rem;
}

.post-header { display: block; font-size: 1.4rem; line-height: 1.4rem; margin-top: -0.3rem;}
.post-short { margin-top: 0.2rem; font-size: 1.1rem; line-height: 1.3rem;}

.main-posts {
  list-style: none;
  vertical-align: top;
  margin-bottom: 2rem;
}

.main-post {
  margin-bottom: 2rem;
}