---
layout: default
---

{% if site.posts|size > 0 %}
<div class="wrapper">
  {%include header.html %}
  <div class="page-content">
    <ul class="main-posts">
      {% for post in site.posts %}
        <li class="main-post {% if post.featured == true %}featured{% endif %}">
          {% if post.featured and post.image %}<img src="{{ post.image | prepend: site.baseurl }}">{% endif %}
          {% if post.tag %}<div class="tag small-caps" rel="tag">{{post.tag}}</div>{% endif %}
          <a class="main-post-header" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          {% if post.short %}<p class="post-short">{{post.short}}</p>{% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% include footer.html %}
{% else %}
<div style="position: absolute; top: 50%; left: 50%; font-family: Helvetica, Arial, sans-serif; font-size: 2rem; margin-left: -350px; margin-top: -100px; width: 700px">
  Здесь был «Фронтир»
  <div style="font-size: .5em;">До встречи в ноябре.</div>
  <div style="font-size: .5em; margin-top: 1em; font-style: italic;">А пока можно подписаться на <a href="/biweekly">рассылку</a>.</div>
</div>
{% endif %}