---
layout: none
---
<meta charset="utf-8">
<div style="position: absolute; top: 50%; left: 50%; font-family: Helvetica, Arial, sans-serif; font-size: 3.5rem; margin-left: -350px; margin-top: -100px; width: 700px">
  Здесь был «Фронтир»
  <div style="font-size: .5em;">До встречи в ноябре.</div>
  <div style="font-size: .5em; margin-top: 1em; font-style: italic;">А пока можно подписаться на <a href="/biweekly">рассылку</a>.</div>
</div>
<!--
<ul class="main-posts">
  {% for post in site.posts %}
    <li class="main-post">
      {% if post.tag %}<div class="tag small-caps" rel="tag">{{post.tag}}</div>{% endif %}
      <a class="post-header" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      <p class="post-short">{{post.short}}</p>
    </li>
  {% endfor %}
</ul>
-->