<footer class="site-footer">
<span class="site-footer-name">Фронтир
  <small class="tip">paamayim nekudotayim</small></span>


  <nav class="site-nav">
    <ul class="site-nav-list">
      <li class="site-nav-item"><a href="/tags" class="site-nav-item-text">категории</a></li>
      <li class="site-nav-item"><a href="/about" class="site-nav-item-text">о журнале</a></li>
      <li class="site-nav-item"><a href="//vk.com/frontiermag" class="site-nav-item-text">наш паблик в ВК</a></li>
      <li class="site-nav-item"><a href="//twitter.com/ru_frontiermag" class="site-nav-item-text">наш твиттер</a></li>
      <li class="site-nav-item"><a href="" class="site-nav-item-text"></a></li>
    </ul>
  </nav>
</footer>

<script src="//cdn.jsdelivr.net/underscorejs/1.6.0/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.7.3/less.min.js"></script>